extends layout

block content

    h1 About Us

    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem porro aliquid nemo 
    facilis perspiciatis voluptatem, corrupti sint delectus omnis commodi pariatur qui 
    in eius ipsa ut ad distinctio modi provident.