extends layout

block content
    h1 Login
    
    form(method ='post', action ='/users/login')
        .imgcontainer
            img.avatar(src='/images/avatar.png', alt='Avatar')
        .contain
            label
            b Username
            input(type='text', placeholder='Enter Username', name='username', required='')
            label
            b Password
            input(type='password', placeholder='Enter Password', name='password', required='')
            button(type='submit') Login
            input(type='checkbox', checked='checked')
            |  Remember me
        .container(style='padding:16px; background-color:#f1f1f1')
            span.psw
            | Forgot 
            a(href='#') password?