extends layout 


block content
    h1 Members Area

    p List of all registered members


    h2 welcome back 
    p id: #{user.id}
    p username: #{user.username}
    p email: #{user.email}
    p password: #{user.password}