body {
	font-family: Arial;
	margin: 0;
	padding: 0;
}

.container{
	max-width: 1000px;
	margin: auto;
}
nav{
   	background-color: #333;
	overflow: hidden;
    width: 100%;
    position: relative;
}
li{
	list-style: none;
}
li a{
	 float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

li a:hover{
	background-color: #eee;
	color: #000;
}

.active{
	background-color: #eee;
	color: #000;
}

.login{
	border: 1px solid #fff;
	border-radius: 5px;
	height: 12px;
	margin: 2px auto;
	text-align: center;
}

/*Login Form style */
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 20%;
    border-radius: 50%;
}

/* Add padding to containers */
.contain {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 25px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
 
}

ul.success li{
    border-left: 5px solid #4CAF50;
    height: 50px;
    background: #eee;
    margin-top: 50px;
    line-height: 50px;
    padding-left: 10px;
}

ul.error li{
    border-left: 5px solid #f44336;
    height: 50px;
    background: #eee;
    margin-top: 50px;
    line-height: 50px;
    padding-left: 10px;
}

ul.info li{
    border-left: 5px solid #2196F3;
    height: 50px;
    background: #eee;
    margin-top: 50px;
    line-height: 50px;
    padding-left: 10px;
}