*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

@font-face {
    font-family: HelveticaNue-Medium;
    src: url(../fonts/HelveticaNeue-Medium.otf);
}

body{
	font-family: HelveticaNue-Medium;
	background-color: #efeded;
}

.logo a{
	margin:0 auto;
}
nav{
	background-color: #E91E63;
	width:15%;
	height: 100%;
	position: fixed;
	box-shadow: 0 8px 5px 4px rgba(0, 0, 0, 0.2);
}

nav li {
	list-style: none;

}
nav li:first-child{
	background-color: #0277BD;
}
nav a:hover{
	background-color: white;
	color: #E91E63;
	border-left: 4px solid #0277BD;
}

.active a{
	background-color: white;
	color: #0277BD;
	border-left: 4px solid #0277BD;

}

nav li a{
	display: block;
	text-decoration: none;
	color: #fff;
	padding:16px;
}

.icon{
	padding-right: 16px; 
}

.container{
	margin-left:15%;
	width: 85%;
}
.row{
	width:100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.search{
	background-color: #fff;
	
	/*padding:16px;*/
}

.search input[type='text']{
	width: 100%;
	padding:16px 50px;
	font-size: 16px;
	font-family: HelveticaNue-Medium;
	outline: none;
	border: none;
	background-image: url('../images/searchicon.png');
    background-position: 22px 12px; 
    background-repeat: no-repeat;
}

.col-half{
	float: left;
	width:50%;
}
.dashboard{
	height: 51px;
	background-color: #fff;
}

.panel{
	float: right;
	margin:0 auto;
}

.notification:after{
	content:"";
	clear: both;
	display: table;
}

.panel li{
	list-style: none;
	float:left;
	padding: 16px;
}

.panel img{
	border-radius: 50%;
	border:1px solid grey;
	margin-top: -5px;
}

.panel li .fa{
	font-size: 27px;
}
.panel li a{
	text-decoration: none;
	
}
.username{
	margin-left: -20px;
}

/*dashboard*/

.title{
	padding:30px;
}
.padding{
	padding: 10px;
}
.col{
	float: left;
	width: 45%;
}

.card{
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin-left: 30px;
}