*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

@font-face {
    font-family: HelveticaNue-Medium;
    src: url(../fonts/HelveticaNeue-Medium.otf);
}

body{
	font-family: HelveticaNue-Medium;
	background-color: #efeded;
}

.logo {
	margin:0 auto;
	background-color: blueviolet;
}
nav{
	background-color: #E91E63;
	width:15%;
	height: 100%;
	position: fixed;
	box-shadow: 0 8px 5px 4px rgba(0, 0, 0, 0.2);
}

nav li {
	list-style: none;

}
/*nav li:first-child{
	background-color: #0277BD;
}*/
nav a:hover{
	background-color: white;
	color: #E91E63;
	border-left: 4px solid #0277BD;
}

.active a{
	background-color: white;
	color: #0277BD;
	border-left: 4px solid #0277BD;

}

nav li a{
	display: block;
	text-decoration: none;
	color: #fff;
	padding:16px;
}

.icon{
	padding-right: 16px; 
}

.container{
	margin-left:15%;
	width: 85%;
}
.row{
	width:100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.search{
	background-color: #fff;
	
	/*padding:16px;*/
}

.search input[type='text']{
	width: 100%;
	padding:16px 50px;
	font-size: 16px;
	font-family: HelveticaNue-Medium;
	outline: none;
	border: none;
	background-image: url('../images/searchicon.png');
    background-position: 22px 12px; 
    background-repeat: no-repeat;
}

.col-half{
	float: left;
	width:50%;
}
.dashboard{
	height: 51px;
	background-color: #fff;
}

.panel{
	float: right;
	margin:0 auto;

}

.notification:after{
	content:"";
	clear: both;
	display: table;
}

.panel li{
	list-style: none;
	float:left;
	padding: 16px;

}

.panel img{
	border-radius: 50%;
	border:1px solid grey;
	margin-top: -5px;
}


.panel li .fa{
	font-size: 27px;
}
span.notify.fa.fa-circle{
	font-size: 10px;
	position: absolute;
	margin-top: -7px;
	margin-left: -10px;
	color: red;


}
.panel li a{
	text-decoration: none;
	
}
.panel span{
	color: grey;
}
.username{
	margin-left: -20px;
}

/*dashboard*/

.title{
	padding-left:30px;


}
.padding{
	padding: 10px;
}

.card{
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin: 20px;
}

.contain{
	width:1080px;
	/*margin:0 auto;*/
}

.column{
	float: left;
	/*width:50px;*/
}

.left{
	width:50%;
}

.right{
	width:50%;
}
.full{
	width:100%;
}
.three-quarter{
	width: 75%;
}
.quater{
	width:25%;
}
.dash{
	width: 25%;
	color:#fff;

}


.dash span{
	float: right;
	font-size: 50px;
	padding: 15px;
	color: grey;
}

.dash h3{
	font-weight: bold;
	font-size: 40px;
}

.dash .details{
	background-color: rgba(0,0,0,0.2);
	z-index: 1;
	padding:3px 0;
	text-align: center;
	text-decoration: none;
	display: block;
	margin-top:20px;
    color: #fff;
}

.dash-inner:after{
	content:"";
	clear: both;
	display: table;
}

.bg-red{
 	background-color: #dd4b39;
}

.bg-aqua{
	background-color: #00c0ef;
}
.bg-yellow{
	background-color: #f39c12;
}
.bg-green{
	background-color: #00a65a;
}
.dropdown{
	position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: -150px;
    background-color: #E91E63;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10; 
    margin-top: -50px;
    
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media(max-width: 1000px){
	.column{
		width: 100%;
	}
	.user, .account{
		display: none;
	}

	nav span{
		display: none;
	}

	nav .fa{
		font-size: 30px;
		padding: 0 auto;

	}
}

table{
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;
}

table,th, td{
	border: 1px solid #efeded;
	text-align: left;
	padding: 10px;
}
th{
	background-color: #efeded;
}

select{
	padding: 5px;

}
button{
	padding: 5px;
	margin-left: 5px;
	border-radius: 5px;
}
.new-post input[type=text]{
	width: 100%;
	padding:12px 0;
	margin:16px 0;

}
.new-post textarea{
	width: 100%;

}

.ck-editor__editable.ck-rounded-corners, .ck-rounded-corners .ck-editor__editable{
	height: 300px;
	padding:10px 30px;
}