*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

@font-face {
    font-family: HelveticaNue;
    src: url(../fonts/Helvetica.otf);
}
@font-face {
    font-family: HelveticaNue-Medium;
    src: url(../fonts/HelveticaNeue-Medium.otf);
}

body{
	font-family: HelveticaNue, Arial;
	font-size: 16px;
	background-color: #eee;
}

.container{
 	max-width: 960px;
 	margin: 0 auto;
}

nav{
	font-family: HelveticaNue-Medium, Arial, sans-serif;
	background-color: #E91E63;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin-bottom: 15px;
}
nav li{
	float: left;
	list-style: none;
}

nav li a{
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 16px;
}
nav li a:hover{
	background-color: #fff; 
	color: #E91E63;
}
.active a{
	background-color: #fff; 
	color: #E91E63;
}

.card{
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin-top: 10px;
}

.col-md-4{
	float: left;
    width: 49%;
    margin-right: 8px;
    margin-top: 8px;
}

@media (max-width: 650px) {
    .col-md-4 {
        width: 100%;
        display: block;
    }
}

.row::after{
	content: "";
	clear: both;
	display: table;
}

.contents{
	padding: 16px;
}

.card img{
	width: 100%;
}

#scrollTop{
	position: fixed;
	bottom: 16px;
	right:16px;
	display: none;
	border-radius: 5px;
	background-color: #E91E63;
	color: #fff;
	padding: 10px;
	border: none;
	outline: none;
	cursor: pointer;
	transition: all 0.3s;
}

.btn{
	outline: none;
	border: none;
	width: 100%;
	padding: 16px;
	cursor: pointer;
}
.btn:hover{
	opacity: 0.7;
}
.btn-success{
	color: #fff;
	background-color: #E91E63;
	margin: 5px;
}
.padding{
	padding:10px;
}

form{
	width:100%;
	
}

input[type='text']{
	width:100%;
	padding:13px;
	margin:10px 0;

}

textarea{
	width:100%;
	padding:13px;
	margin: 10px 0;
font-family: HelveticaNue;
}