doctype
html
	head
		title #{title} | Nodejs blog system
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", type="text/css", href="/css/admin.css")
		link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
body
	nav
		li(class="logo")
			a(href="/") LOGO
		li(class=(title === 'Dashboard'? 'active' : '')) 
			a(href="/admin/dashboard") 
				i(class="fa fa-th icon") 
				span Dashboard
		li(class="dropdown")
			a(href="/admin/posts") 
				i(class="fa fa-clipboard icon") 
				span Posts
				div.dropdown-content
					a(href="/admin/posts")
						span All Posts
					a(href="/admin/posts/new")
						span Add Post
		li(class="dropdown")
			a(href="/admin/categories")
				i(class="fa fa-puzzle-piece icon") 
				span Categories
				div.dropdown-content
					a(href="/admin/categories")
						span All Categories
					a(href="/admin/category/add")
						span Add Category
		li(class="dropdown")
			a(href="/admin/media") 
				i(class="fa fa-picture-o icon") 
				span Media
				div.dropdown-content
					a(href="/admin/media")
						span All Media
					a(href="/admin/media/new")
						span Add Media
		li(class=(title === 'Settings'? 'active' : '')) 
			a(href="/admin/settings") 
				i(class="fa fa-sliders icon") 
				span Settings
	.container
		.row.dashboard
			.col-half
				div.search
					form
						input(type="text" name='search' placeholder="Search")
			.col-half
				div.notification
					.panel
						li
							a(href="#")
								span(class="fa fa-bell-o")
								span(class="notify fa fa-circle")
						li
							a(href="#")
								.avatar
						li(class="user")
							a(href="#")
								span(class="username") Denis Onsare
						li(class="account")
							a
								span(class="fa fa-caret-down")
		block content