doctype html
html
	head
		title #{title} | Simple Nodejs Blog
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", type="text/css", href="./css/styles.css")
body
	nav
		li(class=(title === 'Home'? 'active' : '')) 
			a(href="/") Home
		li(class=(title === 'About'? 'active' : ''))
			a(href="/about") About
		li(class=(title === 'Blog'? 'active' : ''))
			a(href="/blog") Blog
		li(class=(title === 'Contact'? 'active' : '')) 
			a(href="/contact") Contact
	.container
		button(id="scrollTop" onclick="scrollTop()") Top
		block content


	script(src="js/scrollToTop.js")