extends admin

block content

	h2.title Dashboard

	div.row
		div
			div.column.dash
				div.card.padding
					h2 Posts
					span(class="fa fa-clipboard")
					span #{numOfPosts}
			div.column.dash
				div.card.padding
					h2 Categories
					span(class="fa fa-puzzle-piece")
					span #{numOfCategories}
			div.column.dash
				div.card.padding
					h2 Comments
					span(class="fa fa-comment")
					span 0
			div.column.dash
				div.card.padding
					h2 Visitors
					span(class="fa fa-users")
					span 0
			