extends admin

block content

	h2.title Dashboard

	div.row
		div
			div.column.dash
				div.card.padding
					h2 Posts
					span 10
			div.column.dash
				div.card.padding
					h2 Categories
					span 10
			div.column.dash
				div.card.padding
					h2 Comments
					span 10
			div.column.dash
				div.card.padding
					h2 Visitors
					span 10
			