extends base

block content
	.container
		if posts
			h1 Recent Posts
			each post, i in posts
				.row
					div
						h2 #{post.title}
						p Posted by: #{post.author} on #{post.date}
						p #{post.body}
		p There is nothing to display
		