extends admin

block content

	h2.title Media Library
		button(onclick='openUploader()') Add New
	div.row
		div.column.full
			div(id='uploader').card.padding.uploader
				div.dragArea
					div.text
						p Drop images anywhere to upload
						

				p Single image upload
					input(type='file')
	div.row
		div.column.full
			div.card.padding
				
				div.mediaLibrary
					table
						tr
							td 
								img(src='/images/noimage1.jpg')
							td 
								img(src='/images/noimage1.jpg')
							td 
								img(src='/images/noimage1.jpg')
							td 
								img(src='/images/noimage1.jpg')
							td 
								img(src='/images/noimage1.jpg')
						tr
							td 
								img(src='/images/noimage1.jpg')
							td 
								img(src='/images/noimage1.jpg')
							td 
								img(src='/images/noimage1.jpg')
							td 
								img(src='/images/noimage1.jpg')
							td 
								img(src='/images/noimage1.jpg')
						tr
							td 
								img(src='/images/noimage1.jpg')
							td 
								img(src='/images/noimage1.jpg')
							td 
								img(src='/images/noimage1.jpg')
							td 
								img(src='/images/noimage1.jpg')
							td 
								img(src='/images/noimage1.jpg')
						tr
							td 
								img(src='/images/noimage1.jpg')
							td 
								img(src='/images/noimage1.jpg')
							td 
								img(src='/images/noimage1.jpg')
							td 
								img(src='/images/noimage1.jpg')
							td 
								img(src='/images/noimage1.jpg')
						tr
							td 
								img(src='/images/noimage1.jpg')
							td 
								img(src='/images/noimage1.jpg')
							td 
								img(src='/images/noimage1.jpg')
							td 
								img(src='/images/noimage1.jpg')
							td 
								img(src='/images/noimage1.jpg')

	script.
		var uploader = document.getElementById("uploader");
		function openUploader(){
			uploader.classList.toggle('uploader');
			
		}
						