extends admin

block content

	h2.title Media
	div.row
		div.column.full
			div.card.padding
				h2 Upload Images
				div.dragArea
					p Drag Images Here
				p Single image upload
					input(type='file')