extends admin

block content

	h2.title Settings

	div.row
		div.column.full

			div.card.padding.settings
				form
					label Username
					input(type='text' name='username')
					label Email
					input(type='text' name='email' disabled)
					label Bio
					textarea(rows='10' name='textarea')
					label Password
					input(type='password' name='password')
					label Confirm password
					input(type='password' name='password_repeat')
					label Profile Image
					input(type='file' name='profileImage')
					button Save
